@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,900;1,400;1,800&display=swap");

@tailwind base;
@tailwind utilities;
@tailwind components;

body {
  font-family: "Poppins", sans-serif;
}
.h1 {
  @apply font-semibold text-3xl;
}
nav > * {
  @apply font-normal px-4 py-4 hover:text-black;
}
nav .active {
  @apply text-black font-semibold;
}
nav > *::before {
  display: inline-block;
  content: attr(title);
  font-weight: bold;
  height: 0;
  overflow: hidden;
  visibility: hidden;
}

.mt-144 {
  margin-top: 26rem;
}

.form {
  @apply grid place-items-center text-center gap-4 border-black border-2 rounded-3xl px-12 py-8 w-screen;
}
.input {
  @apply border-black border-2 flex align-middle justify-between px-6 py-3 rounded-full w-full;
}
.btn {
  @apply text-white bg-black rounded-full px-6 py-3 self-center hover:opacity-70 transition ease-in-out;
}
.center {
  @apply flex items-center justify-center;
}
.label {
  @apply ml-4;
}
